@primary: #428bca;
@success: #5cb85c;
@info: #5bc0de;
@warning: #f0ad4e;
@danger: #d9534f;

#wrapper {
  .navbar {
    margin-bottom: 0;
  }
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.sidebar {
  padding: 0;
  background-color: #f8f8f8;
  border-right: solid 1px #eee;
  .list-group {
    margin-bottom: 0;
    .list-group-item {
      border-bottom: solid 1px #eee;
      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &:last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

#tabs {
  padding-top: 3em;
  h2 {
    text-align: center;
  }
}

#user-add {
  display: none;
}

#pass-cha {
  display: none;
}

#watch-dis {
  display: none;
}

#user-dis {
  display: none;
}
