.navbar {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-brand {
  margin-left: 2em;
}
.sidebar {
  padding: 0;
  background-color: #f8f8f8;
  border-right: solid 1px #eee;
}
.sidebar .nav-stacked li {
  margin-top: 1px;
}
.sidebar .list-group-item {
  border: 0;
}
.sidebar .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.sidebar .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#tabs {
  padding-top: 2em;
}
#tabs h2 {
  text-align: center;
}
#tabs .notify {
  text-align: center;
}
#tabs .notify > p {
  margin: 10px auto;
}
#tabs .notify .success {
  display: none;
  color: #5cb85c;
}
#tabs .notify .error {
  display: none;
  color: #d9534f;
}
#user-add {
  display: none;
}
#pass-cha {
  display: none;
}
#watch-dis {
  display: none;
}
#user-dis {
  display: none;
}
#search-result {
  display: none;
  margin-top: 2em;
}
#search-result h3 {
  margin: 20px 0;
  text-align: center;
}
